{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">Seite nicht gefunden</h1>
       <p>Oops! Leider gibt es diese Seite (noch) nicht. Hier kommen Sie zur Einstiegsseite <a href="{{ "/" | relURL }}">zurück</a>.</p>

      </div>
    </main>
{{ end }}
